In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
train_data = pd.read_csv("Google_Stock_Price_Train.csv", parse_dates = ['Date'], index_col = 'Date')
train_data.head()

              Open    High     Low   Close      Volume
Date
2012-01-03  325.25  332.83  324.97  663.59   7,380,500
2012-01-04  331.27  333.87  329.08  666.45   5,749,400
2012-01-05  329.83  330.75  326.89  657.21   6,590,300
2012-01-06  328.34  328.77  323.68  648.24   5,405,900
2012-01-09  322.04  322.29  309.46  620.76  11,688,800

In [3]:
test_data = pd.read_csv("Google_Stock_Price_Test.csv", parse_dates = ['Date'], index_col = 'Date')
test_data.head()

              Open    High     Low   Close     Volume
Date
2017-01-03  778.81  789.63  775.80  786.14  1,657,300
2017-01-04  788.36  791.34  783.16  786.90  1,073,000
2017-01-05  786.08  794.48  785.02  794.02  1,335,200
2017-01-06  795.26  807.90  792.20  806.15  1,640,200
2017-01-09  806.40  809.97  802.83  806.65  1,272,400

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2012-01-03 to 2016-12-30
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1258 non-null   float64
 1   High    1258 non-null   float64
 2   Low     1258 non-null   float64
 3   Close   1258 non-null   object
 4   Volume  1258 non-null   object
dtypes: float64(3), object(2)
memory usage: 59.0+ KB

In [5]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20 entries, 2017-01-03 to 2017-01-31
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    20 non-null     float64
 1   High    20 non-null     float64
 2   Low     20 non-null     float64
 3   Close   20 non-null     float64
 4   Volume  20 non-null     object
dtypes: float64(4), object(1)
memory usage: 960.0+ bytes

In [6]:
train_data["Close"]=train_data["Close"].apply(lambda x:float(x.replace(",","")))
train_data["Volume"]=train_data["Volume"].apply(lambda x:float(x.replace(",","")))
test_data["Volume"]=test_data["Volume"].apply(lambda x:float(x.replace(",","")))

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2012-01-03 to 2016-12-30
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1258 non-null   float64
 1   High    1258 non-null   float64
 2   Low     1258 non-null   float64
 3   Close   1258 non-null   float64
 4   Volume  1258 non-null   float64
dtypes: float64(5)
memory usage: 59.0 KB

In [8]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20 entries, 2017-01-03 to 2017-01-31
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    20 non-null     float64
 1   High    20 non-null     float64
 2   Low     20 non-null     float64
 3   Close   20 non-null     float64
 4   Volume  20 non-null     float64
dtypes: float64(5)
memory usage: 960.0 bytes

In [9]:
train_data.isna().sum(), test_data.isna().sum()

(Open      0
 High      0
 Low       0
 Close     0
 Volume    0
 dtype: int64,
 Open      0
 High      0
 Low       0
 Close     0
 Volume    0
 dtype: int64)

In [10]:
train_data.plot(subplots=True,figsize=(10,10))
plt.show()

In [11]:
test_data.plot(subplots=True,figsize=(10,10))
plt.show()

In [12]:
train_data["Volume"].plot()
plt.show()

In [13]:
test_data["Volume"].plot()
plt.show()

In [14]:
train_month = train_data.resample("M").mean()
fig, ax = plt.subplots(figsize=(10, 6))
ax.bar(train_month['2016':].index, train_month.loc['2016':, "Volume"], width=25, align='center')
plt.show()

In [15]:
train_month['Volume'].plot(figsize=(8, 6))
plt.show()

In [16]:
test_month = test_data.resample("M").mean()
fig, ax = plt.subplots(figsize=(10, 6))
ax.bar(test_month['2016':].index, test_month.loc['2016':, "Volume"], width=25, align='center')
plt.show()

In [17]:
test_month['Volume'].plot(figsize=(8, 6))
plt.show()

/data/user/0/ru.iiec.pydroid3/files/aarch64-linux-android/lib/python3.8/site-packages/pandas/plotting/_matplotlib/core.py:1095: UserWarning: Attempting to set identical left == right == 564.0 results in singular transformations; automatically expanding.
  ax.set_xlim(left, right)

In [18]:
from pylab import rcParams
import statsmodels.api as sm
rcParams['figure.figsize'] = 11, 9
decomposition = sm.tsa.seasonal_decompose(train_month['Volume'], model='Additive')
fig = decomposition.plot()

In [ ]:
from pylab import rcParams
import statsmodels.api as sm
rcParams['figure.figsize'] = 11, 9
decomposition = sm.tsa.seasonal_decompose(test_month['Volume'], model='Additive')
fig = decomposition.plot()