In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns

In [7]:
df = pd.read_csv("../DataSets/loan_data_set.csv") 
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [8]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [9]:
df.shape

(614, 13)

In [10]:
df = df.dropna()

In [11]:
df.shape

(480, 13)

In [16]:
from sklearn.preprocessing import LabelEncoder 

le = LabelEncoder() 

df[["Gender","Married","Education","Self_Employed","Property_Area","Loan_Status"]] = df[["Gender","Married","Education","Self_Employed","Property_Area","Loan_Status"]].apply(le.fit_transform)

In [17]:
x=df.drop(columns=["Loan_Status"])
y=df["Loan_Status"]

In [ ]:
pip install keras

Collecting keras
  Downloading Keras-2.4.3-py2.py3-none-any.whl (36 kB)
Requirement already satisfied: numpy>=1.9.1 in /data/data/ru.iiec.pydroid3/files/aarch64-linux-android/lib/python3.8/site-packages (from keras) (1.19.5)
Collecting h5py
  Downloading h5py-3.2.1.tar.gz (368 kB)
     |████████████████████████████████| 368 kB 226 kB/s eta 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... /

In [18]:
from keras.models import Sequential
from keras.layers import Dense 

model=Sequential() 


#3 layers 
model.add(Dense(12,activation="relu",input_dim=8))
model.add(Dense(10,activation="relu"))
model.add(Dense(1,activation="sigmoid"))

model.summary()

ModuleNotFoundError: No module named 'keras'