In [12]:
import pandas as pd

In [13]:
url="https://raw.githubusercontent.com/akshayvanjare8/datset/main/Automobile_dataset.csv"

automobile=pd.read_csv(url)

In [14]:
#Question 1: From given data set print first and last five rows:
print(automobile.head())
print(automobile.tail())

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

In [7]:
#Question 2: Clean data and update the CSV file

cl_auto=automobile 

#print(clean_automobile.isna())

print(cl_auto.isna().sum())

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [15]:
#giving NaN values in dataset which we want to niglect
automobile = pd.read_csv(url, na_values={
'price':["?","n.a"],
'stroke':["?","n.a"],
'horsepower':["?","n.a"],
'peak-rpm':["?","n.a"],
'average-mileage':["?","n.a"]})
print (automobile)
automobile.to_csv(url)

    index      company   body-style  wheel-base  length engine-type  \
0       0  alfa-romero  convertible        88.6   168.8        dohc
1       1  alfa-romero  convertible        88.6   168.8        dohc
2       2  alfa-romero    hatchback        94.5   171.2        ohcv
3       3         audi        sedan        99.8   176.6         ohc
4       4         audi        sedan        99.4   176.6         ohc
..    ...          ...          ...         ...     ...         ...
56     81   volkswagen        sedan        97.3   171.7         ohc
57     82   volkswagen        sedan        97.3   171.7         ohc
58     86   volkswagen        sedan        97.3   171.7         ohc
59     87        volvo        sedan       104.3   188.8         ohc
60     88        volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
0              four         111               21  13495.0
1              four         111               21  16500.0
2               six         154               19  16500.0
3              four         102               24  13950.0
4              five         115               18  17450.0
..              ...         ...              ...      ...
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

[61 rows x 10 columns]

TypeError: a bytes-like object is required, not 'str'

In [16]:
# Question 3: Find the most expensive car company name
car=automobile.groupby('company')
print(car.groups)

{'alfa-romero': [0, 1, 2], 'audi': [3, 4, 5, 6], 'bmw': [7, 8, 9, 10, 11, 12], 'chevrolet': [13, 14, 15], 'dodge': [16, 17], 'honda': [18, 19, 20], 'isuzu': [21, 22, 23], 'jaguar': [24, 25, 26], 'mazda': [27, 28, 29, 30, 31], 'mercedes-benz': [32, 33, 34, 35], 'mitsubishi': [36, 37, 38, 39], 'nissan': [40, 41, 42, 43, 44], 'porsche': [45, 46, 47], 'toyota': [48, 49, 50, 51, 52, 53, 54], 'volkswagen': [55, 56, 57, 58], 'volvo': [59, 60]}

In [17]:
data=automobile[['company','price']][automobile.price==automobile['price'].max()]

In [18]:
data

          company    price
35  mercedes-benz  45400.0

In [19]:
# Question 4: Print All Toyota Cars details

toyota=car.get_group("toyota")
print(toyota)

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0

In [20]:
#  Question 5: Count total cars per company

print(car["company"].count())

company
alfa-romero      3
audi             4
bmw              6
chevrolet        3
dodge            2
honda            3
isuzu            3
jaguar           3
mazda            5
mercedes-benz    4
mitsubishi       4
nissan           5
porsche          3
toyota           7
volkswagen       4
volvo            2
Name: company, dtype: int64

In [21]:
# Question 6: Find each companyâ€™s Highest price car

print(car["price"].max())

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

In [22]:
# Question 7: Find the average mileage of each car making company

print(car["average-mileage"].mean())

company
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            33.333333
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: average-mileage, dtype: float64

In [23]:
#Question 8: Sort all cars by Price in descending order column and display first five rows:

print(automobile.head().sort_values("price", axis=0,ascending=False))

   index      company   body-style  wheel-base  length engine-type  \
4      4         audi        sedan        99.4   176.6         ohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
0      0  alfa-romero  convertible        88.6   168.8        dohc

  num-of-cylinders  horsepower  average-mileage    price
4             five         115               18  17450.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
0             four         111               21  13495.0

In [24]:
#  Question 9: Concatenate two data frames using the following conditions

GermanCars={'company':["Ford","Mercedes","BMW","Audi"], 'price':[23845,171995,135925,71400]}
GermanCars=pd.DataFrame(GermanCars)
JapanCars={'company':["Toyota","Honda","Nissan","Mitsubishi"], 'price':[29995,23600,61500,58900]}
JapanCars=pd.DataFrame(JapanCars)

data=pd.concat((GermanCars,JapanCars), keys = ["Germany", "Japan"])
print(data)

              company   price
Germany 0        Ford   23845
        1    Mercedes  171995
        2         BMW  135925
        3        Audi   71400
Japan   0      Toyota   29995
        1       Honda   23600
        2      Nissan   61500
        3  Mitsubishi   58900

In [25]:
# Question 10: Merge two data frames using the following condition
Car_Price={'company':["Toyota","Honda","BMW","Audi"], 'price':[23845,171995,135925,71400]}
Car_Price=pd.DataFrame(Car_Price)
Horse_Power={'company':["Toyota","Honda","BMW","Audi"], 'horsepower':[141,80,182,160]}
Horse_Power=pd.DataFrame(Horse_Power)
data1=pd.merge(Car_Price,Horse_Power, on="company")
print(data1)
data2=Car_Price.append(Horse_Power, ignore_index=True)
print(data2)

  company   price  horsepower
0  Toyota   23845         141
1   Honda  171995          80
2     BMW  135925         182
3    Audi   71400         160
  company     price  horsepower
0  Toyota   23845.0         NaN
1   Honda  171995.0         NaN
2     BMW  135925.0         NaN
3    Audi   71400.0         NaN
4  Toyota       NaN       141.0
5   Honda       NaN        80.0
6     BMW       NaN       182.0
7    Audi       NaN       160.0