In [1]:
import pandas as pd 
import numpy as np

In [2]:
url="https://raw.githubusercontent.com/akshayvanjare8/datset/main/Teams.csv"

url1="https://raw.githubusercontent.com/akshayvanjare8/datset/main/Automobile_dataset.csv"

In [3]:
team=pd.read_csv(url)

automobile=pd.read_csv(url1)

In [4]:
print(team.head())

   Points  Rank    Team  Year
0     876     1  Riders  2014
1     789     2  Riders  2015
2     863     2  Devils  2014
3     673     3  Devils  2015
4     741     3   Kings  2014

In [5]:
print(automobile.head())

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0

#### group by continue........

#syntex => dataframe.groupby("column name")

In [7]:
teams=team.groupby("Team")

In [8]:
print(teams.groups)

{'Devils': Int64Index([2, 3], dtype='int64'), 'Kings': Int64Index([4, 5, 6, 7], dtype='int64'), 'Riders': Int64Index([0, 1, 8, 11], dtype='int64'), 'Royals': Int64Index([9, 10], dtype='int64')}

In [9]:
#syntex => groupby_variable.get_group("category")

devils=teams.get_group("Devils")

print(devils)

   Points  Rank    Team  Year
2     863     2  Devils  2014
3     673     3  Devils  2015

In [10]:
#average points of devils team 

print(devils["Points"].mean())

768.0

### Exercise

In [11]:
#1. Group by the team and display all teams 

Teams=team.groupby("Team")
#

In [12]:
print(Teams.groups)

{'Devils': Int64Index([2, 3], dtype='int64'), 'Kings': Int64Index([4, 5, 6, 7], dtype='int64'), 'Riders': Int64Index([0, 1, 8, 11], dtype='int64'), 'Royals': Int64Index([9, 10], dtype='int64')}

In [13]:
#2. print all riders teams details 

riders=teams.get_group("Riders")
print(riders)

    Points  Rank    Team  Year
0      876     1  Riders  2014
1      789     2  Riders  2015
8      694     2  Riders  2016
11     690     2  Riders  2017

In [14]:
#3. print the maximum pints of the year 2014

year=team.groupby("Year")
print(year.groups)

#

{2014: Int64Index([0, 2, 4, 9], dtype='int64'), 2015: Int64Index([1, 3, 5, 10], dtype='int64'), 2016: Int64Index([6, 8], dtype='int64'), 2017: Int64Index([7, 11], dtype='int64')}

In [15]:
year1=year.get_group(2014)
print(year1)

   Points  Rank    Team  Year
0     876     1  Riders  2014
2     863     2  Devils  2014
4     741     3   Kings  2014
9     701     4  Royals  2014

In [16]:
print(year1["Points"].max())

876

In [17]:
#4. Print all ranks 1 teams 

#

rank=team.groupby("Rank")

In [18]:
rank_one=rank.get_group(1)
print(rank_one["Team"])

0     Riders
6      Kings
7      Kings
10    Royals
Name: Team, dtype: object

In [19]:
#5. print each team highest points 

teams=team.groupby("Team")

print(teams.groups)

print(teams["Points"].max())

{'Devils': Int64Index([2, 3], dtype='int64'), 'Kings': Int64Index([4, 5, 6, 7], dtype='int64'), 'Riders': Int64Index([0, 1, 8, 11], dtype='int64'), 'Royals': Int64Index([9, 10], dtype='int64')}
Team
Devils    863
Kings     812
Riders    876
Royals    804
Name: Points, dtype: int64

In [20]:
#6. print average points of each team 

print(teams["Points"].mean())

Team
Devils    768.00
Kings     774.25
Riders    762.25
Royals    752.50
Name: Points, dtype: float64

### Exercise Team Dataset

#1 select the first value from the points column of data sets assigning it to variable first_point
#2 Select first row of data (the first record)
#3 selecting first 10 values from the year columns in data set
#4 select records with index labels 1235 and Kate assigning the results to the variable sample records
#5 create a variable df containing variable containing the rank points table columns of the records with index labels 0 5 10
#6 create a variable DF containing that will antrang columns of the last 5 records
#7 create a variable df containing all even index labelsOutput should look like this=>
#8 create a variable df containing all odd index labelsOutput should look like this=>

In [23]:
#1.

print(team)


first_point = team.loc[0,"Points"]

print(first_point)

    Points  Rank    Team  Year
0      876     1  Riders  2014
1      789     2  Riders  2015
2      863     2  Devils  2014
3      673     3  Devils  2015
4      741     3   Kings  2014
5      812     4   Kings  2015
6      756     1   Kings  2016
7      788     1   Kings  2017
8      694     2  Riders  2016
9      701     4  Royals  2014
10     804     1  Royals  2015
11     690     2  Riders  2017
876

In [24]:
#2. 
first_row=team.loc[0,]
print(first_row)

Points       876
Rank           1
Team      Riders
Year        2014
Name: 0, dtype: object

In [25]:
#3.
team.iloc[:11,-1]

0     2014
1     2015
2     2014
3     2015
4     2014
5     2015
6     2016
7     2017
8     2016
9     2014
10    2015
Name: Year, dtype: int64

In [26]:
#4.
sample_records=team.loc[[1,2,3,5,8],]
print(sample_records)

   Points  Rank    Team  Year
1     789     2  Riders  2015
2     863     2  Devils  2014
3     673     3  Devils  2015
5     812     4   Kings  2015
8     694     2  Riders  2016

In [27]:
#5.

df=team.loc[[0,5,10],["Rank","Points","Team"]]
print(df)

    Rank  Points    Team
0      1     876  Riders
5      4     812   Kings
10     1     804  Royals

In [28]:
#6.
print(team.iloc[-5:,1:3])

print(team.tail(5).iloc[::,1:3])

    Rank    Team
7      1   Kings
8      2  Riders
9      4  Royals
10     1  Royals
11     2  Riders
    Rank    Team
7      1   Kings
8      2  Riders
9      4  Royals
10     1  Royals
11     2  Riders

In [29]:
#7.
df=team.iloc[::2,]
print(df)

    Points  Rank    Team  Year
0      876     1  Riders  2014
2      863     2  Devils  2014
4      741     3   Kings  2014
6      756     1   Kings  2016
8      694     2  Riders  2016
10     804     1  Royals  2015

In [30]:
#8
df=team.iloc[1::2,]
print(df)

    Points  Rank    Team  Year
1      789     2  Riders  2015
3      673     3  Devils  2015
5      812     4   Kings  2015
7      788     1   Kings  2017
9      701     4  Royals  2014
11     690     2  Riders  2017

### Exercise Team Dataset

In [31]:
#Question 1: From given data set print first and last five rows:

print(automobile.head())


print(automobile.tail())

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

In [32]:
#Question 2: Clean data and update the CSV file

cl_auto=automobile

#print(clean_automobile.isna())
print(cl_auto.isna().sum())

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [33]:
cl_auto['price']=cl_auto['price'].fillna('NaN')
#cheking null values
print(cl_auto.isna().sum())

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

In [34]:
# Question 3: Find the most expensive car company name

car=cl_auto.groupby('company')

print(car.groups)

{'alfa-romero': Int64Index([0, 1, 2], dtype='int64'), 'audi': Int64Index([3, 4, 5, 6], dtype='int64'), 'bmw': Int64Index([7, 8, 9, 10, 11, 12], dtype='int64'), 'chevrolet': Int64Index([13, 14, 15], dtype='int64'), 'dodge': Int64Index([16, 17], dtype='int64'), 'honda': Int64Index([18, 19, 20], dtype='int64'), 'isuzu': Int64Index([21, 22, 23], dtype='int64'), 'jaguar': Int64Index([24, 25, 26], dtype='int64'), 'mazda': Int64Index([27, 28, 29, 30, 31], dtype='int64'), 'mercedes-benz': Int64Index([32, 33, 34, 35], dtype='int64'), 'mitsubishi': Int64Index([36, 37, 38, 39], dtype='int64'), 'nissan': Int64Index([40, 41, 42, 43, 44], dtype='int64'), 'porsche': Int64Index([45, 46, 47], dtype='int64'), 'toyota': Int64Index([48, 49, 50, 51, 52, 53, 54], dtype='int64'), 'volkswagen': Int64Index([55, 56, 57, 58], dtype='int64'), 'volvo': Int64Index([59, 60], dtype='int64')}

In [42]:
#print(car["price"].sum())

In [43]:
# Question 4: Print All Toyota Cars details

toyota=car.get_group("toyota")
print(toyota)

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage  price
48          62               35   5348
49          62               31   6338
50          62               31   6488
51          62               31   6918
52          62               27   7898
53          62               27   8778
54         156               19  15750

In [44]:
#  Question 5: Count total cars per company

print(car["company"].count())

company
alfa-romero      3
audi             4
bmw              6
chevrolet        3
dodge            2
honda            3
isuzu            3
jaguar           3
mazda            5
mercedes-benz    4
mitsubishi       4
nissan           5
porsche          3
toyota           7
volkswagen       4
volvo            2
Name: company, dtype: int64

In [45]:
# Question 6: Find each company’s Highest price car

print(car["company","price"].max())

                     company
company
alfa-romero      alfa-romero
audi                    audi
bmw                      bmw
chevrolet          chevrolet
dodge                  dodge
honda                  honda
isuzu                  isuzu
jaguar                jaguar
mazda                  mazda
mercedes-benz  mercedes-benz
mitsubishi        mitsubishi
nissan                nissan
porsche              porsche
toyota                toyota
volkswagen        volkswagen
volvo                  volvo

In [46]:
# Question 7: Find the average mileage of each car making company

print(car["average-mileage"].mean())

company
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            33.333333
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: average-mileage, dtype: float64

In [47]:
#Question 8: Sort all cars by Price in descending order column and display first five rows:

print(cl_auto.head().sort_values("price", axis=0,ascending=False))

   index      company   body-style  wheel-base  length engine-type  \
4      4         audi        sedan        99.4   176.6         ohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
0      0  alfa-romero  convertible        88.6   168.8        dohc

  num-of-cylinders  horsepower  average-mileage  price
4             five         115               18  17450
1             four         111               21  16500
2              six         154               19  16500
3             four         102               24  13950
0             four         111               21  13495

In [48]:
#  Question 9: Concatenate two data frames using the following conditions

GermanCars={'company':["Ford","Mercedes","BMW","Audi"], 'price':[23845,171995,135925,71400]}
GermanCars=pd.DataFrame(GermanCars)
JapanCars={'company':["Toyota","Honda","Nissan","Mitsubishi"], 'price':[29995,23600,61500,58900]}
JapanCars=pd.DataFrame(JapanCars)

data=pd.concat((GermanCars,JapanCars), keys = ["Germany", "Japan"])
print(data)

              company   price
Germany 0        Ford   23845
        1    Mercedes  171995
        2         BMW  135925
        3        Audi   71400
Japan   0      Toyota   29995
        1       Honda   23600
        2      Nissan   61500
        3  Mitsubishi   58900

In [49]:
# Question 10: Merge two data frames using the following condition

Car_Price={'company':["Toyota","Honda","BMW","Audi"], 'price':[23845,171995,135925,71400]}
Car_Price=pd.DataFrame(Car_Price)
Horse_Power={'company':["Toyota","Honda","BMW","Audi"], 'horsepower':[141,80,182,160]}
Horse_Power=pd.DataFrame(Horse_Power)

data1=pd.merge(Car_Price,Horse_Power, on="company")
print(data1)

data2=Car_Price.append(Horse_Power, ignore_index=True)
print(data2)

  company   price  horsepower
0  Toyota   23845         141
1   Honda  171995          80
2     BMW  135925         182
3    Audi   71400         160
  company  horsepower     price
0  Toyota         NaN   23845.0
1   Honda         NaN  171995.0
2     BMW         NaN  135925.0
3    Audi         NaN   71400.0
4  Toyota       141.0       NaN
5   Honda        80.0       NaN
6     BMW       182.0       NaN
7    Audi       160.0       NaN

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)