# XGBoost Classifier

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
%matplotlib inline 
plt.show()

In [ ]:
pip install xgboost

Collecting xgboost
  Using cached xgboost-1.4.1.tar.gz (716 kB)
Requirement already satisfied: numpy in /data/data/ru.iiec.pydroid3/files/aarch64-linux-android/lib/python3.8/site-packages (from xgboost) (1.18.4)
Requirement already satisfied: scipy in /data/data/ru.iiec.pydroid3/files/aarch64-linux-android/lib/python3.8/site-packages (from xgboost) (1.4.1)
Building wheels for collected packages: xgboost
  Building wheel for xgboost (setup.py) ... /

In [ ]:
df = pd.read_csv("diabetes.csv") 
df.head()

In [ ]:
x = df.drop(columns = ["Outcome"])

y = df["Outcome"]

In [ ]:
from sklearn.model_selection import train_test_split 

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [ ]:
from xgboost import XGBClassifier 

model = XGBClassifier(n_estimators = 100, max_depth = 5, learning_rate = 0.1) 

model.fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
# Evaluation 

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report 

print("Accuracy is : ", accuracy_score(y_test, y_pred))

cm = confusion_matrix(y_test, y_pred)
print(cm) 

sns.heatmap(cm, annot = True)

print(classification_report(2y_test, y_pred))

### XGBoost on Credit Card Dataset

In [ ]:
cc = pd.read_csv("creditcard.csv")
cc.head()

In [ ]:
cc.isna().sum()

In [ ]:
cc = cc.dropna()

In [ ]:
x = cc.drop(columns = [""])

y = cc[""]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [ ]:
model = XGBClassifier()

model.fit(x_train, y_train) 

y_pred = model.predict(x_test)

In [ ]:
print("Accuracy is : ", accuracy_score(y_test, y_pred))

In [ ]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

sns.heatmap(cm, annot = True)
plt.show()

In [ ]:
print(classification_report(y_test, y_pred))

# Support Vector Regressor

In [2]:
df = pd.read_csv("Ad_purchace.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df["Gender"] = df["Gender"].replace({"Male":1,"Female":0})

In [4]:
x = df.drop(columns = ["Purchased"])

y = df["Purchased"]

In [5]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [6]:
from sklearn.svm import SVR 

model = SVR(kernel = "linear", C = 10)

model.fit(x_train, y_train)

y_pred = model.predict(x_test)

print("Training Accuracy is : ", model.score(x_train, y_train))
print("Testing Accuracy is : ", model.score(x_test, y_test))

Training Accuracy is :  -5.092985340254864e+17
Testing Accuracy is :  -5.225338811142917e+17

In [7]:
pd.DataFrame({"Actual":y_test,"Predicted":y_pred})

     Actual     Predicted
132       0 -2.271574e+08
309       0  1.574653e+08
341       0 -1.220609e+08
196       0 -1.515013e+08
246       0  1.612384e+08
..      ...           ...
14        0 -1.524345e+08
363       0 -1.593206e+08
304       0  7.294838e+07
361       1  2.823437e+08
329       1 -4.021045e+08

[80 rows x 2 columns]